<nav class="col-2">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#">Inbox</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Outbox</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Archived</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Bin</a></li>
    </ul>
</nav>