<header class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
</header>

<div class="row">
    <main class="col">

        <div class="jumbotron">
            <h1 class="display-4">Welcome to inbox!</h1>
            <p class="lead">This is a consumer for Linked Data Notification platform. Start by entering a target URL to
            discover an inbox (receiver) or if you know it, enter URL your inbox.</p>
            <hr class="my-4">

            <form action="/discover" method="post">
                <div class="form-group">
                    <label for="targetUrl">Target URL</label>
                    <input type="url" class="form-control" name="targetUrl" id="targetUrl" placeholder="Enter target URL">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Discover</button>
            </form>
        </div>
    </main>
</div>
