<header class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
</header>

<div class="row">
    <main class="col">
        <div class="card">
            <div class="card-header actions">
                <a href="/" title="Back to inbox"><i class="fas fa-arrow-left"></i> back</a>
            </div>
            <div class="card-body">
                <p id="login">You are not logged in.</p>
                <p id="logout">You are logged in as <span id="user"></span>.</p>

                <pre>{{login}}</pre>
            </div>
        </div>
    </main>
</div>
