body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  margin-bottom: 40px;
}

nav {
  float: left;
}

main .date {
  display: inline-block;
  float: right;
}

#notifications .actor {
  display: inline-block;
  width: 20%;
}

.actions a {
  margin-right: 1em;
}